<div class="wide">LoxBerry Reset Root password</div>
<p>&nbsp;</p>
<p>Your new root password is:</p>
<h2><TMPL_VAR PASSWORD></h2>
<p>&nbsp;</p>
<h1>PLEASE NOTE!</h1>
<p>This is the very last time we can show you this password. After you close this website, we are not able to show you the password again. <b>Seriously</b>! So copy it with right mouse click and <b>SAVE IT NOW NOW NOW NOW NOW NOW</b></p>
<p>Really, I am not kidding - I cannot show you the password again! Really really really really really really.</p>
