<div class="wide">LoxBerry Reset Root password</div>
<p>&nbsp;</p>
<p>Your new root password is:</p>
<font size="+3"><b><pre><TMPL_VAR PASSWORD></pre></b></font>
<p>&nbsp;</p>
<h1>PLEASE NOTE!</h1>
<p>This is the very last time we can show you this password. After you close this website, we are not able to show you the password again. <b>Seriously</b>! So copy it with right mouse click and <b>SAVE IT NOW!</b></p>
<p>Really, I am not kidding - <b>I cannot show you the password again!</b></p>

<p>Really really really really really really Really really really really really really Really really really really really really Really really really really really really Really really really really really really Really really really really really really Really really really really really really Really really really really really really Really really really really really really Really really really really really really Really really really really really really Really really really really really really Really really really really really really Really really really really really really Really really really really really really Really really really really really really Really really really really really really Really really really really really really Really really really really really really Really really really really really really Really really really really really really Really really really really really really Really really really really really really.</p>
